*{
	padding: 0px;
	margin: 0px;
}
body{
	background: #000;
}
header img{
	width: 50%;
	height: auto;
	padding: 0;
	margin: 0;
}
header h1{
	float: right;
	padding: 20px;
}
header{
	background: #000;
	width: 100%;
	height: 0 auto;
	text-align: center;
	line-height: 100px;
	color: white;
}
.clearfix{
	clear: both;
}
header::after {
	content:"";
	display: table;
	clear: both;
}
nav {
	float: left;
}
nav ul{
	margin: 0;
	padding: 10px;
	list-style: none;
}
nav li {
	display: inline-block;
	margin-left: 20px;
}
nav ul li a {
	padding: 10px;
	color: white;
	text-decoration-color: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}
nav a:hover{
	background-color: #background: rgba(212,31,8,1);
background: -moz-linear-gradient(top, rgba(212,31,8,1) 0%, rgba(241,44,9,1) 0%, rgba(211,37,13,1) 35%, rgba(207,38,23,1) 50%, rgba(207,38,23,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,31,8,1)), color-stop(0%, rgba(241,44,9,1)), color-stop(35%, rgba(211,37,13,1)), color-stop(50%, rgba(207,38,23,1)), color-stop(100%, rgba(207,38,23,1)));
background: -webkit-linear-gradient(top, rgba(212,31,8,1) 0%, rgba(241,44,9,1) 0%, rgba(211,37,13,1) 35%, rgba(207,38,23,1) 50%, rgba(207,38,23,1) 100%);
background: -o-linear-gradient(top, rgba(212,31,8,1) 0%, rgba(241,44,9,1) 0%, rgba(211,37,13,1) 35%, rgba(207,38,23,1) 50%, rgba(207,38,23,1) 100%);
background: -ms-linear-gradient(top, rgba(212,31,8,1) 0%, rgba(241,44,9,1) 0%, rgba(211,37,13,1) 35%, rgba(207,38,23,1) 50%, rgba(207,38,23,1) 100%);
background: linear-gradient(to bottom, rgba(212,31,8,1) 0%, rgba(241,44,9,1) 0%, rgba(211,37,13,1) 35%, rgba(207,38,23,1) 50%, rgba(207,38,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d41f08', endColorstr='#cf2617', GradientType=0 );
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
}

div .gallery:hover {
  border: 1px solid #777;
}

div .gallery img {
  width: 100%;
  height: 300px;
}
div .gallery2 img {
  width: 40%;
  height: auto;
}

div .desc {
  padding: 15px;
  text-align: center;
}
/*FOOTER*/
footer{
	width: 100%;
	height: 90px;
	background: #000;
	color: white;

}
footer h2{
	font: oblique bold 120% cursive
	padding: 15px;
}
.foot img {	
	float: right;
	width: 5%;
	height: auto;
}
.Ubisoft{
	width: 10%;
	float: right;
	height: auto;
	padding: 10px;
}
@media (max-width: 700px){
	.logo img{
		width: 100%;
	}
	.fondo{
	width: 100%;
	height: auto;
	background-color: #000;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
	div .gallery2 img {
  width: 100%;
  height: auto;
}
}
